body {
  // Move down content because we have a fixed navbar
  padding-top: 118px;
  background-color: $gray-250;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

button:focus {
  outline: none;
}

.text-dark {
  color: $black;
}

.text-callout {
  color: $black-900; /* callout color */
}

.text-light {
  color: $white;
  font-weight: bold;
  a {
    color: $white;
  }
}

// Overlay
.text-overlay {
  width: 100%;
  position: absolute;
  // padding-top: 15%;
  left: 0;
}

.carousel {
  & > .carousel-control-prev > .carousel-control-prev-icon {
    background-image: none;

    &::before {
      content: "\f190";
      display: block;
      font: normal normal normal 28pt/1 FontAwesome;
      color: black;
    }
  }
  & > .carousel-control-next > .carousel-control-next-icon {
    background-image: none;

    &::before {
      content: "\f18e";
      display: block;
      font: normal normal normal 28pt/1 FontAwesome;
      color: black;
    }
  }
}
